<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  $<%= sprintf('%01.2f', @sale.amount) %>
</p>

<p>
  <strong>Tax:</strong>
  $<%= sprintf('%01.2f', @sale.tax) %>
</p>

<p>
  <strong>Customer</strong>
  <%= @sale.customer.name %>
</p>

<p>
  <strong>Tax:</strong>
  $<%= sprintf('%01.2f', @sale.tax) %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
